* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

header {
  font-size: 1.2rem;
  padding: 20px;
  background-color: black;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28136, 210, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler:focus {
  box-shadow: none;
}

.foto-inicio {
  max-width: 70px;
  border-radius: 50%;
  border: solid 3px #88D2FF;
}

#navbar-botons {
  color: white;
  transition: 0.5s;
}

#navbar-botons:hover {
  color: #88D2FF;
  margin-left: 15px;
  margin-right: 15px;
}

main {
  background: black;
  margin-bottom: 0;
  min-height: 100%;
}

.banner {
  width: 100%;
}

.que-es-overol {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3%;
  margin-bottom: 4%;
}

h2 span {
  transition: 0.5s;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2 span:hover {
  color: #88D2FF;
  margin: 3px;
}

#ilustracion {
  max-width: 100%;
  margin-top: 2%;
}

div h4 {
  font-size: 150%;
  color: white;
}

#parrafo1y2 {
  margin-top: 0.4rem;
}

div p {
  font-size: 70%;
  color: white;
}

.foto-pie {
  max-width: 50px;
  border-radius: 50%;
  border: solid 3px #88D2FF;
  transition: 0.5s;
}

.foto-pie:hover {
  max-width: 60px;
}

footer nav ul {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

footer nav ul li a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
}

footer {
  background-color: black;
  padding-top: 5%;
}

footer nav ul li a:hover {
  color: #88D2FF;
  margin: 15px;
}

#ofeyrafa {
  display: flex;
  justify-content: end;
}

#fotous {
  max-width: 100%;
  border-radius: 10px;
}

.parrafous {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: left;
  max-width: 100%;
}

.form-label1 {
  margin-top: 5%;
}

.form-label2 {
  margin-top: 1%;
}

#exampleFormControlInput1 {
  margin: 6px;
}

#exampleFormControlTextarea1 {
  margin: 6px;
}

#nuestras-redes {
  margin-top: 5%;
}

#logos-contacto {
  display: flex;
  justify-content: center;
}

.col div {
  color: white;
}

#logos-contacto a img {
  margin: 7px;
  max-width: 50px;
}

.col iframe {
  margin-top: 7px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 50%;
}

#donde {
  margin-top: 5%;
}

main div h3 {
  color: white;
  margin-bottom: 7%;
  text-align: center;
  font-weight: lighter;
}
main section div div div .h4-izq {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  transform: translateX(12px);
}
main section div div div .ul-izq li {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: white;
  list-style: none;
}
main section div div div h4 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
main section div div div .ul-der li {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: white;
  list-style: none;
  transform: translateX(-12px);
}

/*NO UTILIZO @extend porque no repito valores. Pero entiendo el funcionamiento*/
.boton-enviar {
  display: flex;
  background-color: white;
  padding: 5px;
  display: inline;
  border-radius: 5px;
  transition: 0.5s;
}

.boton-enviar:hover {
  padding: 7px;
  background-color: #88D2FF;
  font-size: 1.1rem;
}

.boton-enviar:active {
  background-color: #68E717;
}

.boton-enviar a {
  color: black;
  text-decoration: none;
}

main .ver-proyectos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
main .ver-proyectos a {
  background-color: #88D2FF;
  padding: 10px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
main .ver-proyectos a:hover {
  padding: 11px;
  background-color: #68E717;
  font-size: 1.1rem;
}

/*# sourceMappingURL=style.css.map */
