@import '../utilities/variables';


main {
    div {
        h3 {
            color: $color-text;
            margin-bottom: 7%;
            text-align: center;
            font-weight: lighter;
        }
    }
    section {
        div {
            div {
                div {

                    .h4-izq {
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        transform: translateX(12px);

                    }

                    .ul-izq {
                        li {
                            margin-top: 5px;
                            display: flex;
                            justify-content: center;
                            color: $color-text;
                            list-style: none;
                        }
                    }
                }

                div {
                    h4 {
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;

                    }

                    .ul-der {
                        li {
                            margin-top: 5px;
                            display: flex;
                            justify-content: center;
                            color: $color-text;
                            list-style: none;
                            transform: translateX(-12px);
                        }
                    }
                }
            }
        }
    }
}