@import '../utilities/variables';

@mixin estilo-botones($display, $fondo, $padding, $display2, $border, $transition) {
    display: $display;
    background-color: $fondo;
    padding: $padding;
    display: $display2;
    border-radius: $border;
    transition: $transition;
}





main {
    .ver-proyectos {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        

        a {     
            
            color: $verde-overol;
            font-size: 30px;
            text-decoration: none;
            transition: 0.5s;                        
        }

        a:hover {                        
            transform: scale(1.5);
        }
    }

    .boton-enviar {    
        @include estilo-botones(flex,$color-text,5px,inline,5px,00.5s) 
        
    }
    
    .boton-enviar:hover {
        padding: 7px;
        background-color: $verde-overol;
        font-size: 1.1rem;
    }
    
    .boton-enviar a {
        color: black;
        text-decoration: none;
    }
}
